/**
 * Typography Modules
 */

p {
	font-size: 1.05rem;
	font-kerning: normal;
	font-variant-ligatures: common-ligatures contextual;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
	-ms-font-feature-settings: "kern", "liga", "clig", "alt";
	-webkit-font-feature-settings: "kern", "liga", "clig", "calt";
	font-feature-settings: "kern", "liga", "clig", "calt";
}

.body-text {

	h2 {
		@extend .h3;
	}

	h3 {
		@extend .h4;
	}

	h4 {
		@extend .h5;
		font-weight: bold;
	}

	& > p:first-child {
		font-size: $lead-font-size;
	}

}

// Intro Text
.intro,
.lead {
	font-size: $lead-font-size;
	margin-bottom: 0.45em;
}

// Font Heading
.font-heading {
	font-family: $header-font-family;
}

// Font Body
.font-body {
	font-family: $body-font-family;
}

/**
 * .hx Classes
 */
@each $size, $headers in $header-sizes {
	@include breakpoint($size) {
		@each $header, $font-size in $headers {
			.#{$header} {
				font-size: rem-calc($font-size);
			}
		}
	}
}

/**
 * Links
 */
.no-link {
	color: inherit;

	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

.underlined-link {
	text-decoration: underline;
}

.underline-hover-link {
	&:hover {
		text-decoration: underline;
	}
}

.uppercase { text-transform: uppercase; }

.text-white { color: white; }

.text-light { font-weight: 300; }

.text-bold { font-weight: 700; }

/**
 * Buttons
 */
.button.hollow {

	&.white {
		@extend .button.hollow;
		border-color: white;
		color: white;

		&:hover {
			background: white;
			color: $body-font-color;
		}
	}
}