/**
 * Custom Variables
 *
 * Thanks to variables in SCSS, we can make our life much simpler.
 * Many variables we use in the stylesheets are part of Foundation, and
 * can therefore be found in the Foundation _settings.scss file.
 *
 * We do tend to add some custom variables to projects, and they are located
 * in this very file.
 */

// Colors
$border-color: #ddd;
$accent-color: #e74b3b;

$accent-light: #fdeeed;

$primary-light: #e6eaf0;
$primary-dark: #0f141a;