/**
 * Academy
 */
.academy-main {
	@extend .column;
	@extend .small-24;
	@extend .medium-14;
	@extend .large-16;
}

.academy-editors-picks {
	@extend .column;
	@extend .small-24;
	@extend .medium-10;
	@extend .large-8;

	& > h2 {
		@extend .h3;
	}

	.post-title {
		@extend .h4;
		margin-bottom: 0;
	}

	.post-thumbnail {
		min-height: 10rem;
	}
}

.editor-pick-thumbnail {
	min-height: 10rem;
}

/**
 * Single Post
 */

/**
 * Topic Overview
 */
.topic-overview {
	position: relative;
	overflow: hidden;
	padding-top: 1rem;
	padding-bottom: 2rem;

	ul {
		list-style: none;
		margin: 0;
	}

	a {
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	& > ul {
		list-style: none;
		margin: 0;

		& > li {
			margin-bottom: 1.5rem;
			font-size: 1.4rem;
			font-weight: bold;

			@include breakpoint(medium up) {
				width: 20%;
				float: left;
			}
		}

		.sub-menu {

			li {
				display: block;
				font-weight: normal;
			}
		}

	}

}