/**
 * Single Case Study
 */
.case-item {}

.case-item-header {
	@extend .single-item-header;
}

.case-item-header-overlay {
	@extend .single-item-header-overlay;
}

.case-item-header-content {
	@extend .single-item-header-content;
}

.case-item-services {
	@extend .inline-block-list;
	@extend .separated-list;
	margin-top: 1rem;

	li:after {
		content: ', ';
		font-size: 1em;
		margin-left: 0;
	}

	a {
		color: rgba(255,255,255,0.8);
		text-transform: uppercase;
		font-size: 0.9rem;
		font-weight: bold;
		transition: 0.2s color;
		display: inline-block;

		&:hover {
			color: rgba(255,255,255,1);
		}
	}
}

.case-item-body {
	@extend .single-item-body;
}

.case-item-infobox {
	@extend .single-item-infobox;
}

.case-item-client-logo {
	text-align: center;
	margin-top: -2rem;
	margin-bottom: 3rem;

	img {
		max-height: 7rem;
		opacity: 0.6;
	}
}

.case-item-link {
	text-align: center;
	margin-top: 3rem;
}

.case-item-gallery {
	@include flex-grid-row();
	@extend .small-up-2;
	@extend .medium-up-3;
	@extend .large-up-4;
	max-width: none;
}

.case-item-gallery-item {
	@extend .column;
	@extend .is-background-image;
	min-height: 20rem;
}