/**
 * Frontpage
 */

/**
 * Hero
 */
.hero {
	background: $primary-color url('../images/hero-background.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	color: #d8dfe8;

	.row {
		@include flex-align(center);
		height: 35rem;
		padding-top: 3rem;
		padding-bottom: 4rem;
	}
}

.hero-content {
	@extend .small-24;
	@extend .medium-20;
	@extend .large-18;
	@extend .column;

	@include flex-align-self(middle);
}

.hero-title {
	font-size: 3.8rem;
	font-weight: 800;
	line-height: 1.2;
	margin-bottom: 0.2em;
	color: lighten(#d8dfe8, 10%);

	@include breakpoint(small only) {
		font-size: 2.5rem;
	}
}

.hero-subtitle {
	font-size: 1.5rem;
	margin-bottom: 1.5em;

	@include breakpoint(small only) {
		font-size: 1.25rem;
	}
}

.hero-actions {
	@extend .inline-block-list;

	li {
		margin-right: 1rem;
	}

		a {
			font-size: 1.15rem;
		}
}