/**
 * Gravity Forms
 *
 * The GForms plugin and our Foundation base clash a little.
 * So we add some custom styles here to re-activated styles
 * for Gravity Forms which we previously have disabled.
 */
.gform_wrapper {
	font-family: $body-font-family;
	font-size: 1.1rem;
}

/**
 * Body
 */
.gform_body {

	ul {
		margin: 0;
		list-style: none;
		overflow: hidden;
	}

	.gfield {
		margin: 0 0 1.5em 0;
		clear: both;
		overflow: hidden;

		&.field_sublabel_above {

			& > .gfield_label_before_complex {
				// visibility: hidden;
				// height: 0;
				// width: 0;
				font-weight: bold;
				margin-top: 1rem;
				font-size: 1.3rem;
			}

		}

	}

}

.gfield_label,
.ginput_complex label {
	font-size: 1.1rem;
	font-weight: normal;
	font-family: $body-font-family;
}

.gfield_description {
	font-size: 1.1rem;
}

/**
 * Footer
 */
.gform_footer {
	margin: 0 auto;

	input {
		font-size: 1.2rem;
		padding: 0.75em 1.4em;
		font-weight: bold;
		font-family: $body-font-family;
	}

}

/**
 * Field Types
 */

.gfield {

	input,
	textarea {
		margin: 0;
		font-family: $body-font-family;
	}
}

// Complex Input
.ginput_complex {
	overflow: hidden;

	input,
	textarea {
		margin-bottom: 0.5rem;
	}
}

// Checkbox
.gfield_checkbox {

	label {
		display: inline;
		font-size: 1.1rem;
		margin-left: 1em;
	}
}

/**
 * Required
 */

.gfield_required {
	color: red;
	margin-left: 0.2em;
}

/**
 * CSS Ready Classes
 */
.ginput_left,
.ginput_right,
.gf_left_half,
.gf_right_half,
.name_first,
.name_last {
	width: 48%;
	clear: none !important;

	input {
		margin: 0;
	}
}

.ginput_left,
.gf_left_half,
.name_first {
	float: left;
}

.ginput_right,
.gf_right_half,
.name_last {
	float: right;
}

textarea.medium {
	height: 100px;
}

textarea.large {
	height: 150px;
}

/**
 * Validation
 */
.validation_error {
	background: $alert-color;
	color: white;
	padding: 0.5em 1.2em;
	margin-bottom: 1rem;
}

.gfield_error {
	background: scale-color($alert-color, $lightness: 90%);
	padding: 0.5rem 1rem;
}

.gfield_description.validation_message {
	color: $alert-color;
	font-weight: bold;
	margin: 0.3em 0 0 0;
	clear: both;
}

/**
 * Honeypot
 */
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
	display: none !important;
	position: absolute !important;
	left: -9000px;
}

/**
 * Course Registration Form
 */
.course-registration-form {

	label {
		font-size: 1.2rem;
	}

	.gform_footer input {
		font-size: 1.4rem;
		margin-bottom: 0;
	}

}

/**
 * Project CTA Form
 */
.project-cta-form {
	padding-top: 4rem;

	.gform_footer {
		text-align: center;

		.gform_button {
			@extend .hollow;
			@extend .large;
		}
	}
}

/**
 * E-Book Download FOrm
 */
.ebook-download {

	label {
		font-size: 1.2rem;
		text-align: left;
	}

	.hide-main-label > label {
		height: 0;
		visibility: hidden;
	}

	.ginput_complex span label {
		margin-bottom: 0;
		font-style: normal;
	}

	.gfield {
		clear: both;
		overflow: hidden;
	}

	input {
		font-size: 1.3rem;
		height: 3rem;
		border-top-left-radius: $global-radius;
		border-bottom-left-radius: $global-radius;
		border: 3px solid $accent-color;
	}

	input.button {
		border: none;
		padding: 0.5em 2.7em;
		font-size: 1.7rem;
		height: auto;
		margin: 0;
		background: $accent-color;
		border-radius: $global-radius;

		&:hover,
		&:focus {
			background: darken($accent-color, 8%);
			color: white;
		}
	}

	.gfield_checkbox {
		input {
			height: auto;
			border: none;
		}
	}

}