/**
 * Post
 */
.post-item { }

.post-title { }

.post-thumbnail {
	@extend .is-background-image;
	min-height: 30rem;
	display: block;
	margin-bottom: 1em;
}

/**
 * Featured Academy Post
 */
.academy-featured-post {
	padding: 0 4rem 0 4rem;
	margin-bottom: 2rem;

	.post-thumbnail {
		min-height: 25rem;
		margin-bottom: 2.5rem;
		margin-left: -3rem;
		margin-right: -3rem;
	}

	.post-title {
		@extend .h3;
	}

	.post-excerpt {
		@extend .intro;
	}

}

/**
 * Academy Index Grid
 */
.academy-index-grid {
	@include flex-grid-row();
	@extend .small-up-1;
	@extend .medium-up-2;
	@extend .large-up-3;
}

.academy-grid-item {
	@extend .column;
	margin-bottom: 2rem;

	.post-thumbnail {
		min-height: 8rem;

		@include breakpoint(small only) {
			min-height: 16rem;
		}
	}
}

.page-template-frontpage .academy-grid-item {
	margin-bottom: 0;
}

/**
 * Single Post
 */
.single-post-body {
	@extend .single-item-body;

	blockquote {

		p {
			font-size: 1.8rem;
		}
	}
}

.single-post-sidebar {
	@extend .single-item-infobox;
	background: transparent !important;
}

.post-item-header {
	padding: 3rem 0 0 0;
}

.post-item-image {
	@extend .is-background-image;
	min-height: 30rem;
}

.post-item-header-content {
	@extend .single-item-header-content;
	padding-right: 10%;

	h1.page-title {
		color: $header-color;
	}
}

.single-post-date {
	margin-bottom: 1em;
	font-size: 1.2rem;
}

.single-post-category {
	@extend .inline-block-list;
	@extend .separated-list;
	margin-top: 1.5em;

	li {
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: bold;

		&:after {
			content: ', ';
		}
	}

	a {
		color: rgba(0, 0, 0, 0.8);
	}
}

.single-post-author-box {
	background: $secondary-color;
	border-bottom: 5px solid $border-color;
	padding: 2rem;
}

.single-post-author-box-avatar {
	@extend .small-24;
	@extend .medium-8;
	@extend .column;

	@include breakpoint(small only) {
		text-align: center;
		margin-bottom: 1.5rem;
	}

	img {
		@extend .image-rounded;
	}
}

.single-post-author-box-info {
	@extend .small-24;
	@extend .medium-16;
	@extend .column;

	@include breakpoint(small only) {
		text-align: center;
	}
}

.post-author-box-name {
	font-size: 1.5rem;
}

.single-post-comments {
	padding: 3rem 0 2rem 0;
}

/**
 * Archive Pages
 */
.post-archive {
	@extend .section;
	padding-top: 4rem;
}

.post-archive-content {
	@extend .small-24;
	@extend .medium-14;
	@extend .large-16;
	@extend .column;

	.page-subtitle {
		margin-bottom: 4rem;
	}
}

.post-archive-sidebar {
	@extend .small-24;
	@extend .medium-10;
	@extend .large-7;
	@extend .column;
}

.post-list-item {
	@include flex-grid-row();
	padding: 2rem 0 2rem 0;

	&.has-post-thumbnail .post-list-content {
		@extend .small-24;
		@extend .medium-24;
		@extend .large-16;
		@extend .column;
	}
}

.post-list-thumbnail {
	@extend .small-24;
	@extend .medium-24;
	@extend .large-8;
	@extend .column;
	margin-bottom: 1em;
}

.post-list-content {}

.post-list-title {
	@extend .h3;
}

.post-list-excerpt {}

.post-list-cta {
	margin-bottom: 0;

	a {
		@extend .button;
		@extend .hollow;
		margin-bottom: 0;
	}
}