/**
 * Project CTA Block
 */
.project-cta {
	border-top: 1px solid $border-color;

	.row {
		padding: 4rem 0 2rem 0;
		@extend .align-center;

		@include breakpoint(small only) {
			padding-top: 2rem;
		}
	}
}

.project-cta-content {
	@extend .small-22;
	@extend .medium-20;
	@extend .large-18;

	.section-title,
	.section-subtitle {
		text-align: center;
	}
}

.project-cta-person {
	@include flex-grid-column();

	@include breakpoint(small only) {
		@include flex-grid-column(24);
		text-align: center;

		img {
			max-width: 7rem;
			margin-bottom: 1rem;
		}
	}
}

.project-cta-form {
	@include flex-grid-column();

	@include breakpoint(small only) {
		@include flex-grid-column(24);
		padding-top: 1rem;

		.gform_body .gfield {
			width: 100% !important;
			float: none;
		}
	}
}