/**
 * Page Section Modules
 */
.section {

	&.has-spacing {
		padding: 3rem 0 3rem 0;
	}
}

/**
 * Page Title Block
 */
.page-title-block {
	padding: 6rem 0 4rem 0;

	@include breakpoint(medium only) {
		padding: 4rem 0 1rem 0;
	}

	@include breakpoint(small only) {
		padding: 2rem 1rem 1rem 1rem;
	}

	&.is-dark {
		background-color: $primary-color;
		color: white;
	}

	.row {
		@extend .align-center;
	}
}

.page-title-block-content {
	@extend .small-24;
	@extend .medium-20;
	@extend .large-18;
	@extend .columns;
}

.page-title {
	font-weight: 500;
	font-size: 4rem;

	@include breakpoint(medium only) {
		font-size: 3rem;
	}

	@include breakpoint(small only) {
		font-size: 2.5rem;
	}
}

.page-subtitle {
	font-size: $lead-font-size * 1.2;

	@include breakpoint(medium only) {
		font-size: $lead-font-size;
	}

	@include breakpoint(small only) {
		font-size: $lead-font-size;
	}
}

/**
 * Section Header
 */
.section-header {
	padding-top: 3rem;
	text-align: center;

	& + .section {
		padding-bottom: 3rem;
	}

	.row {
		@extend .align-center;
	}
}

.section-header-content {
	@extend .small-22;
	@extend .medium-20;
	@extend .large-18;
	@extend .columns;
}

.section-title {

	@include breakpoint(small only) {
		font-size: 2rem;
	}
}

.section-subtitle {
	color: #777;
	font-size: $lead-font-size;
	margin-bottom: 0;

	@include breakpoint(small only) {
		font-size: 1.1rem;
	}
}